:root {
    --font-heading: 'Montserrat';
    --font-text: 'Open Sans';
    --color-heading:#242121;
    --color-text:#373A39;
    --color-stroke: #fcbb08;
    --color-shadow: #f0edee;
    --color-theme: #fff;
    --color-dots:#b1adad;
    --bg-burger-color: rgba(0,0,0,.9);
  }

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: var(--font-text);
    font-weight: 400;
    font-style: normal;
}

.container {
    padding: 0 10px;
}

.header {
    height: 100vh;
    font-family: var(--font-heading);
}

.header__top {
    padding: 20px 0;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    color: var(--color-text);
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
}

.language-switcher {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
}

.language-switcher__language {
    cursor: pointer;
}

.language-switcher__language--active,
.language-switcher__language:hover {
    color:var(--color-stroke);
}

.menu__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu__list-item + .menu__list-item {
    margin-left: 30px;
}

.menu__link {
    color: var(--color-text);
    text-transform: uppercase;
    position: relative;
}

.menu__link::after {
    content:'';
    width: 0;
    height: 5px;
    background: var(--color-stroke);
    position: absolute;
    top: 110%;
    left: 0;
    transition: .5s;
}

.menu__link:hover {
    color: var(--color-stroke);
}

.menu__link:hover::after {
    width: 100%;
}

.header__content {
    background-image: url(../assets/images/header_bg.jpg);
    background-size: cover;
    height: calc(100vh - 60px);
}

.header__content-items {
    height: calc(100vh - 60px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content:space-around;
}

.header__content-item {
    color: var(--color-heading);
    text-shadow: 0 0 10px var(--color-shadow);
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900;
}

.header__content-item-photo {
    flex-grow: 1;
}

.header__content-item-title {
    flex-grow: 2;
}

.header__content-item-description {
    flex: 0 1 100%;
}

.header__content-photo {
    width: 250px;
    height: 250px;
    border: 5px solid var(--color-stroke);
    border-radius: 50%;
    background-image: url(../assets/images/my_photo.jpg);
    margin: 0 auto;
}

.header__content-title {
    font-size: 78px;
    font-style: normal;
}

.header__content-subtitle {
    font-size: 32px; 
}

.header__content-description {
    font-family: var(--font-text);
    font-size: 24px;
    text-transform:capitalize;
    width: 400px;
    margin: 0 auto;
    position: relative;
}


.header__content-description::before,
.header__content-description::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 20vw;
    height: 1px;
    background-color: var(--color-stroke);
}

.header__content-description::before {
    left: -20vw;
}

.header__content-description::after {
    right: -20vw;
}

.section {
    padding: 40px 0 20px;
}

.section-title {
    width: 50%;
    margin: 0 auto;
    font: 700 38px var(--font-heading);
    padding-bottom: 20px;
    color: var(--color-heading);
    text-align: center;
    background-image: linear-gradient(to bottom, var(--color-theme) 22px, var(--color-stroke) 22px, var(--color-stroke) 25px, var(--color-theme) 25px);
}

.section-title__text {
    padding: 0 20px;
    background-color: #fff;
}

.about-content {
    text-align: justify;
    text-indent: 20px;
}

.slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding-top: 40px;
}

.slide-text {
    position: absolute;
    top: 60px;
    left: 10px;
}

.slide--active {
    animation-name: showSlide;
    animation-duration: 1.5s;
}

.arrow-prev,
.arrow-next {
    font-size: 28px;
    color: var(--color-theme);
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
    transition: 0.5s ease;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.arrow-next {
    right: 0;
    border-radius: 4px 0 0 4px;
}

.arrow-prev:hover,
.arrow-next:hover {
    background-color: var(--color-heading);
    opacity: 0.8;
}

.dots-wrapper {
    text-align: center;
    padding: 10px;
}

.dot {
    display: inline-block;
    height: 14px;
    width: 14px;
    margin:0 3px;
    background-color: var(--color-dots);
    border-radius: 50%;
    transition: background-color 0.5s ease;
    cursor: pointer;
}
.dot--active,
.dot:hover {
    background-color: var(--color-heading);
    
}

@keyframes showSlide {
    from {opacity: 0.4;}
    to {opacity: 1;}
}

.skills-inner {
    display: flex;
    flex-wrap: wrap;
}

.skills-picture {
    flex: 1 0 400px;
}

.skills__img {
    display: block;
    width: 60%;
    margin: 20% auto;
}

.skills-content {
    flex: 2 0 400px;
}

.skills-item {
    font-weight: 600;
    padding: 10px;
    display: flex;
    align-items: center;
}

.skills-item__icon {
    width: 32px;
    height: 32px;
    background-size: cover;
    margin-right: 15px;
}

.skills-item__text {
    width: 100px;
}

.skills-item__range {
    width: 30%;
    height: 10px;
    border: 1px solid var(--color-stroke);
}

.skills-item__level {
    height: 100%;
    background-color: var(--color-stroke);
}

.skills-item__percent {
    margin-left: 15px;
}

.portfolio-title {
    font-size: 24px;
    font-weight: bold;
    font-family: var(--font-heading);
    color: var(--color-heading);
    padding-left: 40px;
}

.portfolio-list {
    list-style-type: disc;
}

.portfolio-list__item {
    margin: 10px 0 10px 80px;
}

.portfolio-list__link {
    font-weight: 600;
    color: var(--color-text);
}

.portfolio-list__link:hover {
    color: var(--color-stroke);
    text-decoration: underline;
    transition: 0.5s;
}

.certificates__item {
    max-width: 968px;
    margin: 20px auto 0;
}

.contacts-inner {
    display: flex;
    min-height: 400px;
}

.contacts-map {
    flex-grow: 1;
    border: 1px solid var(--color-text);
} 

.map-location {
    width: 100%;
    height: 100%;
}

.contacts-content {
    flex-grow: 1;
}

.contacts-title {
    font-size: 24px;
    font-weight: bold;
    font-family: var(--font-heading);
    color: var(--color-heading);
    text-align: center;
    padding-top: 30px;
}

.contacts-list {
    padding: 40px 20px 40px 40px;
    list-style: none;
}

.contacts-list__item {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.contacts__icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 20px;
    background-size: cover;
}

.icon-phone {
    background-image: url("../assets/icons/Phone_icon.svg");
}

.icon-email {
    background-image: url("../assets/icons/Email_icon.svg");
}

.icon-discord {
    background-image: url("../assets/icons/Discord_icon.svg");
}

.contacts__info {
    color: var(--color-text);
}

.contacts__link:hover {
    color: var(--color-stroke);
    text-decoration: underline;
    transition: 0.5s;
}

.footer {
    padding: 20px 10px;
    background-color: var(--color-stroke);
}

.footer__inner {
    display: flex;
    justify-content: space-around;
}

.footer__link {
    color: var(--color-text);
    padding: 0 5px;
}

.footer__link:hover {
    color: var(--color-theme);
    text-decoration: underline;
    transition: 0.5s;
}

.footer__course {
    font-style: italic;
}

.burger-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-burger-color);
}

.burger__icon {
    display: none;
    cursor: pointer;
    z-index: 10;
}

.burger__line {
    display: block;
    width: 50px;
    height: 2px;
    background-color: var(--color-heading);
    margin: 5px auto;
}

.burger__opened .burger__line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: var(--color-theme);
}

.burger__opened .burger__line:nth-child(2) {
    opacity: 0;
}

.burger__opened .burger__line:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
    background-color: var(--color-theme);
}

.burger-menu {
    height: 100vh;
}

.burger-menu__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.burger-menu__list-item {
    text-align: center;
    margin: 30px 0;
}

.burger-menu__link {
    color:var(--color-theme);
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

.burger-menu__link:hover {
    color: var(--color-stroke);
    transition: 0.3s;
}


@media (max-width: 680px) {
    .burger__icon {
        display: block;
    }

    .header__top {
        padding: 10px 0;
    } 

    .menu {
        display: none;
    }
}